<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
			<a href="#!" class="collection-item">Video 1</a>
			<a href="#!" class="collection-item">Video 2</a>
			<a href="#!" class="collection-item">Video 3</a>
			<a href="#!" class="collection-item">Video 4</a>
			<a href="#!" class="collection-item">Video 5</a>
		</div>
	</div>

	<div class="col m9">
	</div>
</div>